In [35]:
import pandas as pd

In [36]:
major = pd.read_csv('jurusan_result.csv')
rank = pd.read_csv('universitas_indonesia_qs.csv')

In [37]:
major

,Universitas,Prodi,Jenjang,Status
0,"POLITEKNIK ANGKATAN LAUT, SURABAYA",FARMASI,D-III,PTKL
1,Universitas Brawijaya,Pendidikan Profesi Arsitek,Profesi,PTN
2,Sekolah Tinggi Agama Kristen Protestan Negeri ...,Pendidikan Agama Kristen,S1,PTAN
3,Universitas Lambung Mangkurat,Administrasi Bisnis,S2,PTN
4,Sekolah Tinggi Ilmu Ekonomi Tri Dharma Widya,Akuntansi,S1,03
...,...,...,...,...
33683,STMIK Musi Rawas,Teknik Informatika,S1,02
33684,"UNIVERSITAS INDONESIA, JAKARTA",KEDOKTERAN,S1,PTN
33685,"UNIVERSITAS INDONESIA, JAKARTA",DOKTER,Profesi,PTN
33686,Universitas Bina Bangsa,Pendidikan Ilmu Pengetahuan Sosial,S1,04
33687,Universitas Bina Bangsa,Pendidikan Jasmani,S1,04

In [38]:
rank

         Rank                                         University
0         189                              Universitas Indonesia
1         224                             Gadjah Mada University
2         255                   Institut Teknologi Bandung (ITB)
3        =287                              Universitas Airlangga
4         399  IPB University (aka Bogor Agricultural Univers...
5        =509  Institut Teknologi Sepuluh Nopember (ITS Surab...
6        =515                    Universitas Padjadjaran (UNPAD)
7        =624                              Diponegoro University
8        =680                              Universitas Brawijaya
9     851-900                  Bina Nusantara University (BINUS)
10   951-1000                             Universitas Hasanuddin
11  1001-1200                                  Telkom University
12  1001-1200                          Universitas Sebelas Maret
13  1001-1200                         Universitas Sumatera Utara
14  1201-1400  Institut Teknologi Nasional Bandung (ITENAS Ba...
15  1201-1400                Universitas Muhammadiyah Yogyakarta
16  1201-1400                   Universitas Pendidikan Indonesia
17  1201-1400                      Universitas Trisakti (USAKTI)
18  1201-1400                      Universitas Negeri Yogyakarta
19      1401+         Atma Jaya Catholic University of Indonesia
20      1401+                          Universitas Negeri Padang
21      1401+  State University of Malang (Universitas Negeri...
22      1401+                            Universitas Syiah Kuala
23      1401+                                Universitas Andalas
24      1401+                        Universitas Islam Indonesia
25      1401+                         Petra Christian University

In [39]:
major['Jenjang'].unique()

array(['D-III', 'Profesi', 'S1', 'S2', 'Spesialis', 'S3', 'D-IV', 'D4',
       'Subspesialis', '-', 'D-II', 'D-I', 'S2 Terapan', 'S3 Terapan',
       'D3', 'Pro.', 'S1 Terapan', 'Sarjana', 'Magister', 'Diploma-III',
       'Sarjana Terapan'], dtype=object)

In [41]:
excluded_jenjang = [
    'Profesi', 'S2', 'Spesialis', 'S3', 'Subspesialis', '-', 
    'S2 Terapan', 'S3 Terapan', 'Pro.', 'Magister'
]

major = major[~major['Jenjang'].isin(excluded_jenjang)].reset_index(drop=True)

In [43]:
import re

def clean_text(text):
    if not isinstance(text, str):
        return ""
    text = re.sub(r"\([^)]*\)", "", text)
    text = text.split(",")[0]
    text = text.lower()
    text = re.sub(r"[^a-z0-9\s]", "", text)
    text = re.sub(r"\s+", " ", text).strip()
    
    return text

In [44]:
major['Universitas'] = major['Universitas'].apply(clean_text)
rank['University'] = rank['University'].apply(clean_text)

In [45]:
major

,Universitas,Prodi,Jenjang,Status
0,politeknik angkatan laut,FARMASI,D-III,PTKL
1,sekolah tinggi agama kristen protestan negeri ...,Pendidikan Agama Kristen,S1,PTAN
2,sekolah tinggi ilmu ekonomi tri dharma widya,Akuntansi,S1,03
3,universitas pasifik morotai,Akuntansi,S1,12
4,sekolah tinggi ilmu ekonomi ekadharma indonesia,Akuntansi,S1,04
...,...,...,...,...
26790,stai bakti negara tegal,Pendidikan Agama Islam,S1,PTAS
26791,stmik musi rawas,Teknik Informatika,S1,02
26792,universitas indonesia,KEDOKTERAN,S1,PTN
26793,universitas bina bangsa,Pendidikan Ilmu Pengetahuan Sosial,S1,04
26794,universitas bina bangsa,Pendidikan Jasmani,S1,04

In [47]:
univ_mapping = {
    'gadjah mada university': 'universitas gadjah mada',
    'ipb university': 'institut pertanian bogor',
    'diponegoro university': 'universitas diponegoro',
    'atma jaya catholic university of indonesia': 'universitas katolik indonesia atma jaya',
    'state university of malang': 'universitas negeri malang',
    'petra christian university': 'universitas kristen petra',
    'bina nusantara university': 'universitas bina nusantara',
}

rank['University'] = rank['University'].str.lower().replace(univ_mapping)

rank

         Rank                               University
0         189                    universitas indonesia
1         224                  universitas gadjah mada
2         255               institut teknologi bandung
3        =287                    universitas airlangga
4         399                 institut pertanian bogor
5        =509      institut teknologi sepuluh nopember
6        =515                  universitas padjadjaran
7        =624                   universitas diponegoro
8        =680                    universitas brawijaya
9     851-900               universitas bina nusantara
10   951-1000                   universitas hasanuddin
11  1001-1200                        telkom university
12  1001-1200                universitas sebelas maret
13  1001-1200               universitas sumatera utara
14  1201-1400      institut teknologi nasional bandung
15  1201-1400      universitas muhammadiyah yogyakarta
16  1201-1400         universitas pendidikan indonesia
17  1201-1400                     universitas trisakti
18  1201-1400            universitas negeri yogyakarta
19      1401+  universitas katolik indonesia atma jaya
20      1401+                universitas negeri padang
21      1401+                universitas negeri malang
22      1401+                  universitas syiah kuala
23      1401+                      universitas andalas
24      1401+              universitas islam indonesia
25      1401+                universitas kristen petra

In [49]:
rank['Rank'] = rank.index + 1
rank

    Rank                               University
0      1                    universitas indonesia
1      2                  universitas gadjah mada
2      3               institut teknologi bandung
3      4                    universitas airlangga
4      5                 institut pertanian bogor
5      6      institut teknologi sepuluh nopember
6      7                  universitas padjadjaran
7      8                   universitas diponegoro
8      9                    universitas brawijaya
9     10               universitas bina nusantara
10    11                   universitas hasanuddin
11    12                        telkom university
12    13                universitas sebelas maret
13    14               universitas sumatera utara
14    15      institut teknologi nasional bandung
15    16      universitas muhammadiyah yogyakarta
16    17         universitas pendidikan indonesia
17    18                     universitas trisakti
18    19            universitas negeri yogyakarta
19    20  universitas katolik indonesia atma jaya
20    21                universitas negeri padang
21    22                universitas negeri malang
22    23                  universitas syiah kuala
23    24                      universitas andalas
24    25              universitas islam indonesia
25    26                universitas kristen petra

In [51]:
merged_df = major.merge(rank, left_on='Universitas', right_on='University', how='left')
merged_df = merged_df.drop(columns=['University'])
merged_df

,Universitas,Prodi,Jenjang,Status,Rank
0,politeknik angkatan laut,FARMASI,D-III,PTKL,NaN
1,sekolah tinggi agama kristen protestan negeri ...,Pendidikan Agama Kristen,S1,PTAN,NaN
2,sekolah tinggi ilmu ekonomi tri dharma widya,Akuntansi,S1,03,NaN
3,universitas pasifik morotai,Akuntansi,S1,12,NaN
4,sekolah tinggi ilmu ekonomi ekadharma indonesia,Akuntansi,S1,04,NaN
...,...,...,...,...,...
26790,stai bakti negara tegal,Pendidikan Agama Islam,S1,PTAS,NaN
26791,stmik musi rawas,Teknik Informatika,S1,02,NaN
26792,universitas indonesia,KEDOKTERAN,S1,PTN,1.0
26793,universitas bina bangsa,Pendidikan Ilmu Pengetahuan Sosial,S1,04,NaN
26794,universitas bina bangsa,Pendidikan Jasmani,S1,04,NaN

In [52]:
merged_df['Rank'] = merged_df['Rank'].fillna(999)
merged_df

,Universitas,Prodi,Jenjang,Status,Rank
0,politeknik angkatan laut,FARMASI,D-III,PTKL,999.0
1,sekolah tinggi agama kristen protestan negeri ...,Pendidikan Agama Kristen,S1,PTAN,999.0
2,sekolah tinggi ilmu ekonomi tri dharma widya,Akuntansi,S1,03,999.0
3,universitas pasifik morotai,Akuntansi,S1,12,999.0
4,sekolah tinggi ilmu ekonomi ekadharma indonesia,Akuntansi,S1,04,999.0
...,...,...,...,...,...
26790,stai bakti negara tegal,Pendidikan Agama Islam,S1,PTAS,999.0
26791,stmik musi rawas,Teknik Informatika,S1,02,999.0
26792,universitas indonesia,KEDOKTERAN,S1,PTN,1.0
26793,universitas bina bangsa,Pendidikan Ilmu Pengetahuan Sosial,S1,04,999.0
26794,universitas bina bangsa,Pendidikan Jasmani,S1,04,999.0

In [54]:
merged_df.drop(columns=['Jenjang', 'Status'], inplace=True)
merged_df

,Universitas,Prodi,Rank
0,politeknik angkatan laut,FARMASI,999.0
1,sekolah tinggi agama kristen protestan negeri ...,Pendidikan Agama Kristen,999.0
2,sekolah tinggi ilmu ekonomi tri dharma widya,Akuntansi,999.0
3,universitas pasifik morotai,Akuntansi,999.0
4,sekolah tinggi ilmu ekonomi ekadharma indonesia,Akuntansi,999.0
...,...,...,...
26790,stai bakti negara tegal,Pendidikan Agama Islam,999.0
26791,stmik musi rawas,Teknik Informatika,999.0
26792,universitas indonesia,KEDOKTERAN,1.0
26793,universitas bina bangsa,Pendidikan Ilmu Pengetahuan Sosial,999.0
26794,universitas bina bangsa,Pendidikan Jasmani,999.0

In [57]:
merged_df['Prodi'] = (
    merged_df['Prodi']
    .str.lower()
    .str.strip()
    .str.replace(r"[^a-z0-9\s]", "", regex=True)  
    .str.replace(r"\s+", " ", regex=True)        
)

In [58]:
merged_df

,Universitas,Prodi,Rank
0,politeknik angkatan laut,farmasi,999.0
1,sekolah tinggi agama kristen protestan negeri ...,pendidikan agama kristen,999.0
2,sekolah tinggi ilmu ekonomi tri dharma widya,akuntansi,999.0
3,universitas pasifik morotai,akuntansi,999.0
4,sekolah tinggi ilmu ekonomi ekadharma indonesia,akuntansi,999.0
...,...,...,...
26790,stai bakti negara tegal,pendidikan agama islam,999.0
26791,stmik musi rawas,teknik informatika,999.0
26792,universitas indonesia,kedokteran,1.0
26793,universitas bina bangsa,pendidikan ilmu pengetahuan sosial,999.0
26794,universitas bina bangsa,pendidikan jasmani,999.0

In [59]:
merged_df.to_csv('major_final.csv', index=False)